<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Art Exhibition Menu -->
    <menuitem
        id="menu_art_exhibition_root"
        name="Art Exhibition"
        sequence="40"
    />
    <!-- Exhibitions -->
    <menuitem
        id="menu_art_exhibition_exhibitions"
        name="Exhibitions"
        parent="menu_art_exhibition_root"
        action="action_art_exhibition"
        sequence="10"
    />
    <!-- Artworks -->
    <menuitem
        id="menu_art_exhibition_artworks"
        name="Artworks"
        parent="menu_art_exhibition_root"
        action="action_art_artwork"
        sequence="20"
    />
</odoo>